<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

       <!--配置spring mvc adaptor-->
       <mvc:annotation-driven/>

       <!--扫描controller-->
       <context:component-scan base-package="com.zte.drive.controller"/>

       <!--配置视图解析器-->
       <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">

              <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>

              <property name="prefix" value="/WEB-INF/pages/"/>

              <property name="suffix" value=".jsp"/>

       </bean>

       <!-- 定义文件上传解析器 -->
       <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
              <!-- 设定默认编码 -->
              <property name="defaultEncoding" value="UTF-8" />
              <!-- 设定文件上传的最大值5MB，5*1024*1024 -->
              <property name="maxUploadSize" value="104857600" />
              <!-- 缓存大小-->
              <property name="maxInMemorySize" value="4096" />
              <!-- 缓存文件夹-->
              <property name="uploadTempDir" value="fileupload/temp" />
       </bean>

       <!--访问静态资源-->
       <mvc:default-servlet-handler/>


</beans>