<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zte.drive.dao.FavoritesDao">

    <resultMap type="Favorites" id="rmf">
        <id property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="pid" column="pid"/>
        <result property="createDate" column="createDate"/>

        <association property="question" javaType="question">
            <id property="id" column="id"/>
            <result property="answer" column="answer" />
            <result property="content" column="content"/>
            <result property="option" column="option" />
        </association>
            </resultMap>
       <!--
     /**
     * @param favorites
     * @return  添加行数
     */
       -->
       <insert id="insert" parameterType="Favorites">
              INSERT INTO
              t_favorites
              (id,uid,qid,createDate)
              VALUE
              (#{id},#{user.id},#{question.id},#{createDate})
               </insert>

       <!--
       /**
     * @param uid,id
     * @return 删除行数
     */
       -->
       <delete id="delete">
              DELETE FROM t_favorites
              WHERE
              uid=#{arg0.id} AND id=#{arg1}
               </delete>

       <!--
      /**
     * @param uid
     * @return 收藏列表
     */
       -->
       <select id="select" resultMap="rmf" parameterType="User">
              SELECT
              f.id,
              q.content,
              q.option
              FROM t_favorites f
              LEFT  join
              t_question q
              ON f.qid=q.id
              WHERE
              f.uid=#{id}
               </select>

       <!--
      /**
     * @param uid
     * @param num
     * @return 收藏的前几条数据
     */
       -->
       <select id="selectByNum" resultType="Favorites">
              SELECT
              f.id,
              q.content,
              q.option
               FROM t_favorites f
              LEFT JOIN
              t_question q
              on f.qid=q.id
              WHERE
              f.uid=#{arg0.id}
              ORDER BY f.createDate DESC
              limit 0,#{arg1}
               </select>
       </mapper>