<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zte.drive.dao.MistakeDao">

    <resultMap type="Mistake" id="rmq">
        <id property="id" column="id" />
        <result property="user.id" column="uid" />
        <result property="question.id" column="qid"/>
        <result property="createDate" column="cDate"/>
        <association property="user" javaType="user">
            <id property="id" column="nuid"/>
            <result property="pwd" column="upwd"/>
            <result property="name" column="uname"/>
            <result property="registDate" column="rDate"/>
        </association>
        <!--错题id和试题一一对应-->
        <association property="question" javaType="question">
            <id property="id" column="nqid"/>
            <result property="answer" column="qanswer" />
            <result property="content" column="qcontent"/>
            <result property="option" column="qoption" />
                </association>
            </resultMap>
       <!--/*
       *用户插入一条错题
       *@param mistake
       *@return 增加行数
       *主键自动增长，获取主键
       */
       -->
       <insert id="insert" parameterType="Mistake" keyProperty="id" useGeneratedKeys="true">
         INSERT
         INTO
         t_mistake
         (id,uid,qid,createDate)
         VALUES
         (#{id},#{user.id},#{question.id},#{createDate})
       </insert>

       <!--
        /**
     *根据用户id删除一条错题记录
     * @param uid,id
     * @return 删除行数
     */
       -->
       <delete id="delete">
              DELETE  FROM
              t_mistake
              WHERE
              uid=#{arg0.id} AND  id=#{arg1}
               </delete>



       <!--
          /**
          *  用户查询其所有错题记录
         *@param uid
         * @return 错题列表
         */
       -->
       <select id="selectall" resultMap="rmq" parameterType="User">
              SELECT
              m.id id,
              m.uid uid,
              m.qid qid,
              m.createDate cDate,
              u.id nuid,
              u.pwd upwd,
              u.name uname,
              u.registDate rDate,
              q.id nqid
              FROM  t_mistake m
              LEFT JOIN
              t_user u
              ON  m.uid=u.id
              LEFT JOIN
              t_question q
              ON m.qid=q.id
               WHERE m.uid=#{id}
               </select>


      <!--
         /**
     * 用户按错题id查询错题
     * @param uid,id
     * @return 错题
     */
       -->
     <select id="selectById" resultMap="rmq">
            SELECT
              m.id id,
              m.uid uid,
              m.qid qid,
              m.createDate cDate,
               u.id nuid,
              u.pwd upwd,
              u.name uname,
              u.registDate rDate,
              q.id nqid
              FROM  t_mistake m
              LEFT JOIN
              t_user u
              ON  m.uid=u.id
              LEFT JOIN
              t_question q
              ON m.qid=q.id
            WHERE m.uid=#{arg0.id} AND  m.id=#{arg1}
             </select>

       <!--  /**
     * 按试题内容查询用户错题
     * @param uid,content
     * @return 错题集
     */
     -->
       <select id="selectByContent" resultMap="rmq">
              SELECT
                m.id id,
              m.uid uid,
              m.qid qid,
              m.createDate cDate,
               u.id nuid,
              u.pwd upwd,
              u.name uname,
              u.registDate rDate,
              q.id nqid
              FROM t_mistake m
              LEFT JOIN
              t_user u
              ON  m.uid=u.id
              LEFT JOIN t_question q
              ON  m.qid=q.id
              WHERE
              m.uid=#{arg0.id}
              AND
              q.content LIKE CONCAT('%','${arg1}','%')
               </select>

       <!--
        /**
        *用户根据试题类型查询
        * @param type
        * @return 错题集
        */
       -->
      <select id="selectByType" resultMap="rmq">
              SELECT
              m.id id,
              m.uid uid,
              m.qid qid,
              m.createDate cDate,
               u.id nuid,
              u.pwd upwd,
              u.name uname,
              u.registDate rDate,
              q.id nqid
              FROM t_mistake m
              LEFT JOIN
              t_question q
              ON m.qid=q.id
              WHERE
              m.uid=#{arg0.id}
              AND
              q.types LIKE CONCAT('%','${arg1}','%')
               </select>


       <!--
         /**
     * 用户查询最近错的前num道错题
     * @param uid,num
     * @return 错题集
     */
       -->
       <select id="selectByTime" resultMap="rmq">
              SELECT
                m.id id,
              m.uid uid,
              m.qid qid,
              m.createDate cDate,
               u.id nuid,
              u.pwd upwd,
              u.name uname,
              u.registDate rDate,
              q.id nqid
              FROM t_mistake m
              LEFT JOIN
              t_user u
              ON  m.uid=u.id
              LEFT JOIN t_question q
              ON
              m.qid=q.id
              WHERE
              uid=#{arg0.id}
              ORDER BY m.createDate DESC
              limit 0,#{arg1}
               </select>

    <!--/**
     * 用户根据试题ID查询试题
     */
     -->
    <select id="selectByqid" resultMap="rmq">
         SELECT
                m.id id,
              m.uid uid,
              m.qid qid,
              m.createDate cDate,
               u.id nuid,
              u.pwd upwd,
              u.name uname,
              u.registDate rDate,
              q.id nqid
              FROM t_mistake m
              LEFT JOIN
              t_user u
              ON  m.uid=u.id
              LEFT JOIN t_question q
              ON
              m.qid=q.id
              WHERE
              uid=#{arg0.id}
              AND
              q.id=#{arg1}
           </select>
</mapper>