<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.drive.dao.QuestionCommentDao">

    <!-- 插入某条评论 -->
    <!-- int insert(QuestionComment questioncomment); -->
    <insert id="insert" parameterType="QuestionComment" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        t_question_comment
        ( uid, qid, parentId, content, commentDate )
        VALUES
        ( #{user.id},
        #{question.id},
        #{questionComment.id},
        #{content},
        #{commentDate} );
    </insert>

    <!-- 根据评论ID删除某条评论 -->
    <!-- int deleteById(Integer id); -->
    <delete id="deleteById" parameterType="integer">
        DELETE FROM
        t_question_comment
        WHERE id = #{id};
    </delete>

    <!-- 查询所有评论 -->
    <resultMap id="rsm" type="QuestionComment">
        <id property="id" column="id"/>
        <result property="user.id" column="uid" />
        <result property="user.name" column="uname" />
        <result property="question.id" column="qid" />
        <result property="questionComment.id" column="parentId" />
        <result property="questionComment.user.id" column="puid" />
        <result property="questionComment.user.name" column="puname"/>
        <result property="content" column="content" />
        <result property="commentDate" column="commentDate" />
    </resultMap>
    <!-- List<QuestionComment> selectAll(); -->
    <select id="selectAll" resultMap="rsm">
        SELECT
        a.* ,
        b.`name` uname,
        d.id puid,
        d.`name` puname
        FROM t_question_comment a
        JOIN
        t_user b
        ON
        a.uid = b.id
        LEFT OUTER JOIN
        t_question_comment c
        ON
        c.id = a.parentId
        LEFT OUTER JOIN
        t_user d
        ON
        c.uid = d.id;
    </select>

    <!-- 查询某用户的所有评论 -->
    <!-- List<QuestionComment> selectByUser(User user); -->
    <select id="selectByUser" parameterType="User" resultMap="rsm">
        SELECT
        a.* ,
        b.`name` uname,
        d.id puid,
        d.`name` puname
        FROM t_question_comment a
        JOIN
        t_user b
        ON
        a.uid = b.id
        LEFT OUTER JOIN
        t_question_comment c
        ON
        c.id = a.parentId
        LEFT OUTER JOIN
        t_user d
        ON
        c.uid = d.id
        WHERE
        a.uid = #{id};
    </select>

    <!-- 查询某题目下的所有非子评论 -->
    <!-- List<QuestionComment> selectByQuestion(Question question); -->
    <select id="selectByQuestion" parameterType="Question" resultMap="rsm">
        SELECT
        a.* ,
        b.`name` uname,
        d.id puid,
        d.`name` puname
        FROM t_question_comment a
        JOIN
        t_user b
        ON
        a.uid = b.id
        LEFT OUTER JOIN
        t_question_comment c
        ON
        c.id = a.parentId
        LEFT OUTER JOIN
        t_user d
        ON
        c.uid = d.id
        WHERE a.qid = #{id} AND a.parentId is null;
    </select>

    <!-- 查询某评论的所有直接子评论 -->
    <!-- List<QuestionComment> selectByComment(QuestionComment questionComment); -->
    <select id="selectByComment" parameterType="QuestionComment" resultMap="rsm">
        SELECT
        a.* ,
        b.`name` uname,
        d.id puid,
        d.`name` puname
        FROM t_question_comment a
        JOIN
        t_user b
        ON
        a.uid = b.id
        LEFT OUTER JOIN
        t_question_comment c
        ON
        c.id = a.parentId
        LEFT OUTER JOIN
        t_user d
        ON
        c.uid = d.id
        WHERE a.parentId = #{id};
    </select>

    <!-- 根据评论ID查询某条评论 -->
    <!-- QuestionComment selectById(Integer id); -->
    <select id="selectById" resultType="QuestionComment">
        SELECT
        a.* ,
        b.`name` uname,
        d.id puid,
        d.`name` puname
        FROM t_question_comment a
        JOIN
        t_user b
        ON
        a.uid = b.id
        LEFT OUTER JOIN
        t_question_comment c
        ON
        c.id = a.parentId
        LEFT OUTER JOIN
        t_user d
        ON
        c.uid = d.id
        WHERE a.id = #{id};
    </select>
</mapper>