<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zte.drive.dao.SubjectDao">
    <!--根据ID查询id,pwd,name,registerDate-->
    <select id="selectById" resultType="Subject">
        SELECT id,subject FROM t_subject where id=#{id}
    </select>

    <!--查询所有的科目-->
    <select id="selectAll" resultType="Subject">
        SELECT
        id,subject
        FROM
        t_subject
            </select>

    <!--新增一个科目-->
    <insert id="insertSubject" parameterType="Subject">
        INSERT
        INTO
            t_subject
            (subject)
            VALUE
            (#{subject})
            </insert>

    <!--更新一个科目信息-->
    <update id="updateSubject" parameterType="Subject">
        UPDATE
        t_subject
        SET
        subject=#{subject}
        WHERE
        id=#{id}
           </update>

    <!--根据ID删除一个科目-->
    <delete id="deleteById">
        DELETE
        FROM
        t_subject
        WHERE
        id=#{id}
            </delete>
</mapper>