<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zte.drive.dao.SubjectDao">

    <!--    Subject selectById(Integer id);
-->
    <select id="selectById" resultType="subject">

    </select>

    <!--    List<Subject> selectAll();
-->
    <select id="selectAll" resultType="subject">

    </select>

    <!--    int insertSubject(Subject  subject);
-->
    <insert id="insertSubject" parameterType="subject">

    </insert>

    <!--    public int updateSubject(Subject subject);
-->
    <update id="updateSubject" parameterType="subject">


    </update>

    <!--    public int deleteById(Integer id);
-->
    <delete id="deleteById">

    </delete>
</mapper>