<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zte.drive.dao.TypeDao">
<!--    public Type selectById(Integer id);
-->
    <select id="selectById" resultType="type">

    </select>

    <!--    public List<Type> selectAll();
-->
    <select id="selectAll" resultType="type">

    </select>

    <!--    public int insertType(Type  type);
-->
    <insert id="insertType" parameterType="type"></insert>

    <!--    public int updateType(Type type);
-->
    <update id="updateType" parameterType="type">

    </update>

    <!--    public int deleteById(Integer id);
-->
    <delete id="deleteById" >

    </delete>
</mapper>