<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zte.drive.dao.TypeDao">

    <!--新增一个科目-->
    <insert id="insertType" parameterType="Type">
        INSERT
        INTO
            t_type
            (type)
            VALUE
            (#{type})
            </insert>

    <!--更新一个科目信息-->
    <update id="updateType" parameterType="Type">
        UPDATE
        t_type
        SET
        type=#{type}
        WHERE
        id=#{id}
           </update>

    <!--根据ID删除一个科目-->
    <delete id="deleteById">
        DELETE
        FROM
        t_type
        WHERE
        id=#{id}
            </delete>
    <!--根据ID查询id,pwd,name,registerDate-->
    <select id="selectById" resultType="Type">
        SELECT id,type FROM t_type where id=#{id}
    </select>

    <!--根据type查询类型id-->
    <select id="selectByType" resultType="Integer">
        SELECT NULLIF (id,0) FROM t_type where type=#{type}
    </select>

    <!--查询所有的科目-->
    <select id="selectAll" resultType="Type">
        SELECT
        id,type
        FROM
        t_type
            </select>

    <!--查询所有的类型-->
    <select id="selectAllId" resultType="Integer">
        SELECT
        id
        FROM
        t_type
            </select>

    <!--查询所有的类型-->
    <select id="selectAllType" resultType="String">
        SELECT
        type
        FROM
        t_type
            </select>


</mapper>