<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.drive.dao.UserAnswerDao">
    <resultMap id="rsm" type="UserAnswer">
        <id property="id" column="id"/>
        <result property="answers" column="answers"/>
        <result property="user.id" column="uid" />
        <result property="question.id" column="qid" />
    </resultMap>

    <!-- 插入一条用户答案 -->
    <!-- int insert(UserAnswer userAnswer); -->
    <insert id="insert" parameterType="UserAnswer" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO t_user_answer( uid, qid, answers )
        VALUES( #{user.id}, #{question.id}, #{answers} );
    </insert>

    <!-- 根据ID删除某条用户答案 -->
    <!-- int deleteById(Integer id); -->
    <delete id="deleteById" parameterType="integer">
        DELETE FROM t_user_answer
        WHERE id = #{id};
    </delete>

    <!-- 更新某条用户答案，要求用户答案ID，只能更新答案内容 -->
    <!-- int update(UserAnswer userAnswer); -->
    <update id="update" parameterType="UserAnswer">
        UPDATE t_user_answer SET
        answers = #{answers}
        WHERE id = #{id};
    </update>

    <!-- 查询所有用户答案 -->
    <!-- List<UserAnswer> selectAll(); -->
    <select id="selectAll" resultMap="rsm">
        SELECT u.id uid, q.id qid, a.answers answers
        FROM t_user_answer a, t_user u, t_question q
        WHERE a.uid = u.id
        AND a.qid = q.id;
    </select>

    <!-- 查询某用户的所有答案 -->
    <!-- List<UserAnswer> selectByUser(User user); -->
    <select id="selectByUser" parameterType="User" resultMap="rsm">
        SELECT u.id uid, q.id qid, a.answers answers
        FROM t_user_answer a, t_user u, t_question q
        WHERE a.uid = #{id}
        AND a.uid = u.id
        AND a.qid = q.id;
    </select>

    <!-- 查询某题目的所有答题情况 -->
    <!-- List<UserAnswer> selectByQuestion(Question question); -->
    <select id="selectByQuestion" parameterType="Question" resultMap="rsm">
        SELECT u.id uid, q.id qid, a.answers answers
        FROM t_user_answer a, t_user u, t_question q
        WHERE a.qid = #{id}
        AND a.uid = u.id
        AND a.qid = q.id;
    </select>

    <!-- 根据ID查询某条用户答案 -->
    <!-- UserAnswer selectById(Integer id); -->
    <select id="selectById" resultMap="rsm">
        SELECT u.id uid, q.id qid, a.answers answers
        FROM t_user_answer a, t_user u, t_question q WHERE a.id = #{id} AND a.uid = u.id AND a.qid = q.id;
    </select>

    <!-- 查询最后一条记录 -->
    <!-- UserAnswer selectLast(User user); -->
    <select id="selectLast" parameterType="User" resultMap="rsm">
        SELECT a.id, u.id uid, q.id qid, a.answers answers
        FROM t_user_answer a, t_user u, t_question q WHERE a.uid = #{id} AND a.uid = u.id AND a.qid = q.id
        ORDER BY a.id DESC LIMIT 1;
    </select>

    <!-- 查询某用户的答题数 -->
    <!-- Integer selectQuesitonNum(User user); -->
    <select id="selectQuesitonNum" parameterType="User" resultType="integer">
        SELECT COUNT(DISTINCT(t.qid)) FROM t_user_answer t
        GROUP BY t.uid HAVING t.uid = 2;
    </select>
</mapper>