<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zte.drive.dao.VideoDao">
    <!-- /**
     * 插入一条视频
     * @param video
     * @return 插入行数
     */
    public int insertVideo(Video video);-->
    <insert id="insertVideo" parameterType="Video" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO t_video
        (title,intro,context,src)
        VALUES
        (#{title},#{intro},#{context},#{src});
    </insert>

    <!-- /**
     * 更新一条视频，要求视频id，只能更新title，intro和context
     * @param video
     * @return 更新行数
     */
    public int updateVideo(Video video);-->
    <update id="updateVideo" parameterType="Video" >
        UPDATE t_video
        SET
        title = #{title},
        intro = #{intro},
        context = #{context}
        WHERE
        id = #{id} ;
    </update>

    <!-- /**
     * 删除一条视频
     * @param id 视频id
     * @return 删除行数
     */
    public int deleteVideo(Integer id);-->
    <delete id="deleteVideo">
        DELETE FROM t_video
        WHERE id = #{id};
    </delete>

    <!-- /**
     * 查询所有视频
     * @return 所有视频
     */
    public List<Video> selectAll();-->
    <select id="selectAll" resultType="Video">
        SELECT * FROM t_video;
    </select>

    <!-- /**
     * 查询从start到end的所有视频
     * @param start
     * @param end
     * @return 视频列表
     */
    public List<Video> selectByRange(int start,int end);-->
    <select id="selectByRange" resultType="Video">
        select * from t_video LIMIT #{start},#{end};
    </select>

    <!-- /**
     * 根据id查找视频
     * @param id 视频id
     * @return 视频
     */
    public Video selectById(Integer id);-->
    <select id="selectById" resultType="Video">
        SELECT * from t_video where id=#{id};
    </select>
</mapper>